

table{
    border-collapse: collapse;
}

.formul{
    display: block;
    box-shadow: 0px 0px 7px #00000067;
    margin: auto;
    padding: 20px;
}

.table-scroll{
    height: 300px;
    overflow-y: scroll;
    
}
a{
    text-decoration:none;
    color:white;
}
nav{
    padding: 10px;
}
main{
    max-width: 1000px;
    min-width: 500px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
header{
    box-shadow: 0px 1px 4px 0px rgb(0 0 0 / 30%);
}
header a {
    padding: 5px;
    font-weight: bold;
}
header a:hover{
    background-color: rgb(68, 68, 68);
    color: rgb(187, 187, 187);
    text-decoration: underline;
}
form h1 {
    text-align: center;
    background-color: black;
    color: white;
    margin: -20px -20px 20px -20px
}
form input[type=submit]{
    margin-top: 10px;
    
}
table{
    text-align: center;
}