

table{
    border-collapse: collapse;
}

.formul{
    display: block;
    box-shadow: 5px 10px 8px #888888;
    margin-top: 3%;
    margin: auto;
    margin-bottom: 2%;
    padding: 50px;
}

.table-scroll{
    margin-right: 15%;
    height: 200px;
    overflow-y: scroll;
    
}
a{
    text-decoration:none;
    color:white;
}
nav{
    padding: 10px;
}
main{
    max-width: 1000px;
    min-width: 500px;
    margin: auto;

}
header a {
    padding: 5px;
}